body {
    width: 100%;
    height: 100vh;
    border: 1px solid white ;
    margin: 0px;
    background-color: rgb(25, 4, 81);
    position: relative;
}

header {
    width: 100%;
    height: 8vh;
    background-color: rgb(25, 4, 81);
    position: fixed;
    display: flex;
    color: white;
    text-align: center;
    justify-content: center;
}
.empty{
    width: 100%;
    height: 8vh;
}

header div {
    height: 100%;
    /* background-color: chartreuse; */
}

#logo {
    width: 20%;
}


#logo p{
    /* Title name of music Player */
    font-size: large;
    font-family: math;
    margin-left: 15px;
}

#slogan {
    width: 35%;
    display: flex;
    align-items: center;
}

#slogan p {
    font-size: large;
    font-family: math;
    margin: 10px;
}

#search {
    width: 30%;
}

#notification {
    width: 7.5%;
    justify-content: center;
}

#profile {
    width: 7.5%;
    justify-content: center;
}

.text-centre{
	text-align: center;
}

.icons{
    height: 90%;
}

.set-image {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.container {
    display: flex;
    height: 100%;
    background-color: rgb(25, 4, 81);
    color: white;
    
}
.songBanner {
    width: 70%;
    background-color: coral;
}
.songList{
    width: 30%;

}
.songItem {
    height: 50px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.songItem img {
    height: 40px;
}

.Bottom {
    position:fixed;
    bottom: 0;
    height: 12vh;
    width: 100%;
    background-color: cyan;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.playIcons{
    margin-bottom: 15px;
}

.playIcons i{
    cursor: pointer;
    margin: 0 , 5px;
}

#myProgressBar {
    width: 50%;
}